# ---- SECRETS: never commit ----
*_private*
keys/*.pem
!keys/public-key.pem
*.priv

# Build output
build/
*.o
*.elf
*.bin
*.hex
*.map
*.lst

# IDE
.vscode/
Debug/
Release/
*.uvguix.*
.settings/
.metadata/

# Python
__pycache__/
*.pyc
venv/

# Miscellaneous
*.exe
nul
*.launch